<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <form method="post">
        {% csrf_token %}
        <label for="batting_team">Select Batting Team:</label>
        <select name="batting_team" id="batting_team">
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
    
        <label for="bowling_team">Select Bowling Team:</label>
        <select name="bowling_team" id="bowling_team">
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Start</button>
    </form>
  </body>
</html>
