<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>
</head>
<body>
    <h1>Team Details - {{ team.name }}</h1>

    <h2>Players Auctioned for {{ team.name }}</h2>
    <ul>
        {% for player in players %}
            <li><a href="{% url 'all_of_player_details' player.id %}">{{ player.name }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'all_of_teams' %}">Back to All Teams</a>
</body>
</html>
